#title-container {
    padding-top: 55px;
}

.subtitle {
  margin: 0px;
  color: #969595 !important;
  font-family: 'Roboto', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#homepage-title {
  color: #5A7EDE;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500 !important;
}

.btn-div {
  margin-top: 15px;
}

/* ANIMATIONS */
/* #homepage-title {
  animation: fadeInLeft;
  animation-duration: 3s;
} 

#homepage-sub {
  animation: fadeInRight;
  animation-duration: 3s;
} */

/* MEDIA QUERIES */
@media only screen and (max-width: 420px) {
  #homepage-title  {
      font-size: 44px;
  }

  .subtitle {
      font-size: 12px;
      padding-bottom: 20px;
  }
} 

@media only screen and (max-width: 570px) {
  .home-btn {
    margin-left: 70px !important;
    margin-right: 70px !important;
  }
} 

@media only screen and (min-width: 460px) {
  .subtitle {
      font-weight: 100 !important;
  }
}

@media only screen and (min-width: 980px) {
  #title-container {
      padding-right: 40%;
      width: 60%;
  }   
}
