body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    color: gray;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif !important;
    color: #2c3e50 !important;
}

.uk-offcanvas-bar {
    background-color: #2c3e50f1;
}

.uk-icon {
    padding: 5px;
}

/* hr {
    width: 5%;
    margin: 50px auto 50px auto;
    background-color: #fda387;
    height: 1px;
    border: none;
}

a:hover {
    color: #fda387 !important;
} */

@media only screen and (min-width: 460px) {
    body, html{
        font-size: 1rem;
    }
}
