.logout-btn {
    border: none;
    background: none;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    padding-left: 10px;
}

.logout-btn:hover {
    cursor: pointer;
    font-weight: 300;
    text-decoration: underline
}