.react-calendar, .react-calendar__navigation__label__labelText, abbr{
    font-family: 'Montserrat', sans-serif !important;
}

.react-calendar {
    border: none !important;
    width: 100% !important;
}

.react-calendar__tile--now {
    background: rgb(228, 228, 228) !important;
    border-radius: 5px;
}

.react-calendar__tile {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}

.react-calendar__tile:hover {
    border-radius: 5px !important;
}

.react-calendar__month-view__days__day--weekend {
    color: black !important;
}

/* .react-calendar__navigation__label__labelText {
    font-size: .6rem !important;
} */

.highlight {
    background-color: #d27977a8 !important;
    border-radius: 5px;
    color: white !important;
}

.react-calendar__tile--active {
    background-color: #5A7EDE !important;
    color: white !important;
    border-radius: 5px;
}

.alert-header {
    color: #5A7EDE !important;
}

.alert-election-name {
    color: rgb(75, 75, 75) !important;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 13px !important;
    letter-spacing: 1px;
}

.addDel-icon {
    padding-right: 10px;
    color: gray;
}

.addDel-icon:hover {
    color: rgb(66, 66, 66);
}

.add-btn {
    border: none;
    background: none;
}


/* @media only screen and (max-width: 460px) {
    .react-calendar__navigation__label__labelText {
        font-size: .5 !important;
    }
} */

@media only screen and (min-width: 461px) {
    .react-calendar__navigation__label__labelText {
        font-size: 20px !important;
    }
}