.officials-table {
    font-size: .8rem;
}

.officials-table-head {
    font-family: 'Montserrat', sans-serif !important;
    color: #2c3e50 !important;
    font-size: .8rem !important;
}

.delete-btn {
    color: #d27977 !important;
    border: none;
    background: none;
}

.delete-btn:hover {
    color: #995756 !important;
}

.officials-td {
    padding: 5px 12px !important;
}