#D {
    background-color: rgba(0, 0, 255, 0.637);
}

#R {
    background-color: rgba(255, 0, 0, 0.712);
}

#N {
    background-color: rgba(128, 0, 128, 0.699);
}

.officials-card{
    border-radius: 50px;
    margin: 20px;
}

.official-card-info, .uk-card h2 {
    color: white !important;
}

.official-card-info {
    font-size: 15px;
}