.uk-overlay {
    text-align: center;
}

.overlay {
    background-color: rgba(90, 125, 222, 0.932);
}

.header {
    color: white;
    font-size: 3.75rem;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
.uk-overlay {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
}

@media only screen and (max-width: 460px) {
    .header {
        font-size: 40px;
        margin-bottom: 10px;
    }
}