
.noteContainer{
    background-color: #EF9A9A;
    color: black !important;
    height: 100px;
    width: 750px;
    border: solid .5px;
}
.noteAlert{
    text-align: center;
    margin :10px;
}
.h4{
    color: grey;
    text-align: center;
    text-decoration: underline;
}
.uk-alert-warning{
    width:750px;
}