/* .noteContainer {
    background-color: rgba(255, 0, 0, 0.712);
    color: white !important;
    height: 100px;
    width: 750px;
    border: solid .5px;
}
.noteAlert {
    text-align: center;
    margin :10px;
}
.h4 {
    text-align: center;
    text-decoration: underline;
} */
.uk-alert-warning {
    background-color: rgba(255, 0, 0, 0.712);
    padding: 20px;
    color: white !important;
    font-size: large;
    border-radius: 15px;
}
/* p {
    color: white !important;
} */