.nav-item {
    font-weight: 100;
}

.navbar {
    background-color: transparent;
}

.nav-item:hover, .menu-icon:hover {
    /* color: #5A7EDE !important; */
    font-weight: 300 !important;
}

.mobile-nav-item:hover {
    color: white !important;
}

.mobile-nav-item {
    font-size: 12px;
    padding-left: 10px;
    font-weight: 100;
    color: white !important;
    text-transform: uppercase;
}

.menu-icon {
    color: #2c3e50d8;
}