.PollingInfoContainer{
    color:white;
    /* background-color: cadetblue; */
    text-align: left;
    font-family: 'Montserrat', sans-serif !important;
}
.card{
    color:black;
    font-family: 'Montserrat', sans-serif !important;
}